opencv-python
dtw-python
mediapipe
pandas
numpy
nltk
transformers
torch
torchaudio
librosa
disvoice
pyaudio
vosk
pydub
pyarrow
yt-dlp 
textual 
rich
aiohttp
beautifulsoup4 
selenium 
requests
undetected-chromedriver
youtube_search